div{
    outline:1px solid black;
}

.container{
    width:920px;
    margin-left:auto;
    margin-right:auto;
}

.header{
    background-color:blue;
    height:200px;
    width:920px;
}

.redbox{
    background-color:red;
    width:920px;
    height:400px;
    float:left;
}

.footer{
    background-color:lime;
    height:200px;
    width:920px;
    float:left;
}